# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys3 import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
My_Cities_Data = pd.read_csv("../output_data/My_Cities_Data.csv")
My_Cities_Data.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind speed,Country,Date
0,0,yumen,40.2833,97.2000,33.06,31,100,2.39,CN,1668968578
1,1,khatanga,71.9667,102.5000,-32.03,100,91,4.05,RU,1668968578
2,2,aksarka,66.5606,67.7975,5.85,96,100,10.22,RU,1668968578
3,3,saint-philippe,-21.3585,55.7679,76.59,79,60,11.77,RE,1668968579
4,4,albany,42.6001,-73.9662,33.39,43,3,5.01,US,1668968579

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
locations = My_Cities_Data[['Lat', 'Lng']]
weights = My_Cities_Data['Humidity']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
cleaned = My_Cities_Data[My_Cities_Data['Humidity'] <= 70 ]
# want it fairly warm with temperatures above 80 
cleaned = cleaned[cleaned['Max Temp'] >= 80 ]
# don't want it to be cloudy while there so 50 percent cloud cover 
cleaned = cleaned[cleaned['Cloudiness'] <= 50]
# dont want the wind speed to be high so has to be five or less
cleaned = cleaned[cleaned['Wind speed'] <= 5]
#display
cleaned

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind speed,Country,Date
54,54,upington,-28.4478,21.2561,80.98,10,0,3.44,ZA,1668968585
81,81,castro,-24.7911,-50.0119,81.32,37,15,4.99,BR,1668968591
154,154,kavaratti,10.5669,72.6420,80.58,57,15,3.80,IN,1668968599
193,193,mahina,-17.5065,-149.4890,80.37,65,20,4.61,PF,1668969103
482,482,bougouni,11.4170,-7.4790,81.43,27,45,2.42,ML,1668969163

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure